{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th><h5>Товар</h5></th>
                        <th><h5>Цена</h5></th>
                        <th><h5>Удалить</h5></th>
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>
                            <h5>{{ product.p_name }}</h5>
                        </td>
                        <td>
                            <h5>{{ product.p_price }}</h5>
                        </td>
                        <td>
                           <form method="POST">
                                <input type="hidden" name="delete" value="{{product.id}}">
                                <input type="submit" value="Удалить">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
{% endblock %}