{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><h1>
                <h1>Купи фрукты</h1>
            </h1></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Тут могла быть ваша реклама</h2>
            </div>
            <div class="col-md-4">
                <h2>Тут могла быть ваша реклама</h2>
            </div>
            <div class="col-md-4">
                <h2>Тут могла быть ваша реклама</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}