{% extends "base.html" %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1>
                        Продукты
                    </h1>
                </div>
                <div class="col-md-4"></div>
            </div>
            {% for product in products %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>
                        {{product.p_name}}
                    </h2>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {% for photo in photos %}
                    {% if photo.id == product.p_photo_id %}
                    <img src="{{url_for('static', filename=photo.pp_url)}}" alt="{{product.p_name}}" class="product_img">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-6 desc">
                    <h5>Описание</h5>
                    <p>{{product.p_description}}</p>
                    <h5>Цена: {{product.p_price}} Руб/кг</h5>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form  method="POST">
                        <input type="hidden" name="product" value="{{product.id}}">
                        <input type="submit" value="Добавить в корзину">
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}